<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcu.baima.mapper.AdmissionPlanMapper">
    <select id="aa" resultType="com.gcu.baima.entity.AdmissionPlan">
        select *
        from admission_plan;
    </select>
    <select id="bb" resultType="com.gcu.baima.entity.AdmissionPlan">
        select 25
        from admission_plan;
    </select>


</mapper>
