<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcu.baima.mapper.ArticleMapper">

    <select id="getArticleById" resultType="com.gcu.baima.entity.VO.ArticleVo">
        select article.id,
               article.public_time,
               manager.username     as authorname,
               article.view,
               article.title,
               article.content,
               ac.name              as categoryName,
               article.ac_id        as categoryId,
               article.gmt_modified as gmtModified,
               article.gmt_create   as gmtCreate

        from article
                 left join article_category as ac
                           on article.ac_id = ac.id
                 left join manager
                           on article.author_id = manager.id
        where article.id = #{id}
    </select>
    <select id="getGuide" resultType="com.gcu.baima.entity.VO.ArticleVo">
        select article.id,
               article.public_time,
               manager.username     as authorname,
               article.view,
               article.title,
               article.content,
               '招生计划'               as categoryName,
               article.ac_id        as categoryId,
               article.gmt_modified as gmtModified,
               article.gmt_create   as gmtCreate
        from article
                 join manager on article.author_id = manager.id
        where ac_id = (select id
                       from article_category
                       where name = '招生简章')
    </select>
</mapper>
