<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcu.baima.mapper.RegistrationMapper">

    <select id="pageRegistVo" resultType="com.gcu.baima.entity.VO.RegistrationVo">
        SELECT r.id,
               c.name      as customerName,
               c.id        as customerId,
               course.id   as courseId,
               course.name as courseName,
               m.username  as managerName,
               m.id        as managerId
        FROM `registration` r
                 LEFT JOIN `customer` c ON r.customer_id = c.id
                 LEFT JOIN course ON course.id = r.perfer_course_id
                 LEFT JOIN `manager` m ON r.manager_id = m.id
        where c.id = #{id}
    </select>
</mapper>
